html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #2C426D, #04060A);
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 54px;
  color: #FFF;
}

.playlists_Info {
  text-align: left;
  div {
    width: 20%;
    display: inline-block;
    h2 {
      color: #FFF;
      text-align: center;
    }
  }
}